<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Testing Onliner Search Results">
    <parameter name="url" value="https://www.onliner.by/"/>
            <test name="Tests">
               <classes>
            <class name="tests.TestCase"/>
                   <parameter name="filterTitleProducer" value="Производитель"/>
                   <parameter name="filterValueProducer" value="Samsung"/>
                   <parameter name="price" value="1000"/>
                   <parameter name="filterTitleResolution" value="Разрешение"/>
                   <parameter name="filterValueResolution" value="1920x1080"/>
                   <parameter name="filterTitleDiagonal" value="Диагональ"/>
                   <parameter name="filterValueDiagonalMin" value="40"/>
                   <parameter name="filterValueDiagonalMax" value="50"/>
        </classes>
    </test>
    </suite>